<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Administrador</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery.bsPhotoGallery.css" rel="stylesheet">    



    <style>

    html {
        width: 100%;
        height: 100%;
    }

    .holder-welcome_logo {      
        width: 100%
        height: 100%;

    }     

    .holder_body {
      margin: 0;
      height: 100%;
      widows: 100%;
      text-align: center;     
    }

    h2 {
       font-weight: bold;
       white-space: nowrap; 
    }


    </style>


</head>
<body class="holder_body" style="background-color: beige">
<nav class="navbar navbar-dark bg-primary fluid">

    <div class="col-md-9">   


    </div>

    <div class="col-md-1" style="text-align: right;"> 
     <a href="Pg2-UserView.html"><h3 style="color: white"> Admin </h3></a>
    </div>    

          
    <div class="col-md-1"> 
       <a href="index.html"><h3 style="color: white"> Salir </h3></a>
    </div>    
  </nav>


<div class="container-fluid" style="background-color: #F5F5F5"> 

  <div class="row">

    <div class="col-sm-5 holder-welcome_logo" style="background-color: white;"> 

      <br><br>
        <h2 align="left" class="h3 mb-3 font-weight-normal">Datos Admin:</h2>

        <br><br>

      <form class="/ActualizarH/" method="POST">
          <div class="form-group row">
            <div class="col-sm-2 col-form-label"></div>
            <label for="staticRoom" class="col-sm-2 col-form-label">ID </label>
            <div class="col-sm-8">
              <input name="HID" type="text"  class="form-control" id="staticRoom" value="" style="text-align: center;">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2 col-form-label"></div>
            <label for="staticNombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-8">
              <input type="text" style="text-align: center;"  class="form-control" id="Nombre" value="" >
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2 col-form-label"></div>
            <label for="staticCorreo" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-8">
              <input name="NewEmailH" type="text" style="text-align: center;" class="form-control" id="staticCorreo" value="">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2 col-form-label"></div>
            <label for="staticPaginaWeb<" class="col-sm-2 col-form-label">Pagina Web</label>
            <div class="col-sm-8">
              <input name="PgwebH" type="text" style="text-align: center;" class="form-control" id="staticPaginaWeb" value="">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2 col-form-label"></div>
            <label for="staticDescripción" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-8">
              <input name="DescH" type="text" style="text-align: center;" class="form-control" id="staticDescripción" value="">
            </div>
          </div>

          <br><br>
          <p>
            <input type="submit" value="Guardar Cambios"  class="btn btn-primary mb-6"> 
          </p> 
      </form>

      <br> <br>


    
        <br><br><br>

       
    </div>    
    

    <div class="col-sm-7 holder-welcome_logo">
      
      

      <div class="row">
    
          <table class="table table-responsible-lg" style="text-align: center;">
            <thead>        
              <tr>          
                <th scope="col-sm-1" style="border: 2px solid">Proyectos activos</th>
                <th scope="col-sm-2" style="border: 2px solid">Proyectos Finalizados</th>
                
                            
              </tr>                
            </thead>
            
          </table>       
      </div>



      
    </div>    
    

  </div>
    

</div>




</body>

</html>